@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*실제 너비 고정*/
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}


header {
    width: 100%;
    border-bottom: 1px solid rgb(230, 229, 229);
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0;
    bottom: 15px;
}

header .inner h1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    color: #444;
}

header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;

}

header .inner .util li {
    float: left;
}

header .inner .util li a{
    display: block;
    padding: 0 10px;
    font: 12px/1 "Noto sans kr";
    color: #555

}


header .inner #gnb {
    position: absolute;
    right: 0px;
    bottom: 0px;

}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font: 15px/1 "Noto sans kr";
    color: #555;
    padding: 25px 40px;
    transition: all ;
}
header .inner #gnb li a:hover {
    background-color: darkblue;
    color:white;
    transition: all 0.5s;
} 



figure {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: black;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}

figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font:bold 120px/1 arial;
    color: white;
    margin-bottom: 50px;
}

figure .inner p {
    font: 16px/1.5 "arial";
    color: #aaa;
    margin-bottom: 40px;
    text-align: justify;
}

figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 12px/30px "Noto sans kr";
    color: #eee;
    text-align: center;
    letter-spacing: 1.5px;
    transition: all 0.5s;
}

figure .inner a:hover {
    background-color: #fff;
    color: #555;
}




section {
    width: 100%;
    padding: 100px 0px;
}

section .inner {
    width: 1180px;
    margin: 0px auto;
}

section .inner h1{
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}

section .inner .wrap {
    width: 100%;
}

section .inner .wrap article {
    width: 280px;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}


section .inner .wrap::after{
    content: "";
    display: block;
    clear: both;
}

section .inner .wrap article:last-child {
    margin-right: 0px;
}

section .inner .wrap article h2 {
        font: bold 16px/1 "arial";
        color: #555;
        margin-bottom: 10px;
}

section .inner .wrap article p {
    font: 14px/1.2 "arial";
    color: #777;
    text-align: justify;
}

section .inner .wrap article .pic {
    width: 100%;
    height: 120px;
    background-color: #333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

section .inner .wrap article .pic img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section .map-wrapper {
  font: normal normal 400 12px/normal dotum, sans-serif;
  width: 1180px;
  height: 400px;
  color: #333;
  position: relative;
}

section .map-image-container {
  height: 360px;
}

section .map-image {
  width: 1180px;
  height: 400px;
  border: 1px solid #ccc;
}

section .map-footer {
  overflow: hidden;
  padding: 7px 11px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  background-color: #f9f9f9;
}

section .kakao-logo img {
  display: block;
  width: 72px;
  height: 16px;
  float: left;
}

section .map-direction {
  float: right;
  position: relative;
  top: 1px;
  font-size: 11px;
}

section .map-direction a {
  float: left;
  height: 15px;
  padding-top: 1px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
}

/*section 끗*/

/*footer 시작*/

footer {
    width: 100%;
    background-color: darkblue;
    padding: 100px 0px;
    border-top: 1px solid white;
}


footer .inner{
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

footer .inner .upper h1 {
    font: bold 24px/1 "arial";
    color: white;
    float: left;
}


footer .inner .upper::after {
    content:"";
    display: block;
    clear: both;
}

footer .inner .upper ul {
    float: right;
}

footer .inner .upper ul li {
    float: left;
    margin-left: 20px;
}

footer .inner .upper ul li a{
    font: 400 14px/1 "Noto sans kr";
    color: white;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    width: 100%;
    font: 12px/1.5 "arial";
    color: white;
    margin-bottom: 20px;
}

footer .inner .lower p{
    width: 100%;
    font: 12px/1.5 "arial";
    color: white;
}
